<mat-card class="course-card">
    <mat-card-content class="course-content">
        <div class="img-container">
            <img src="{{src}}" class="img" alt="">
        </div>
        <div class="card-content">
            <p class="course-title heading-2">{{title}}</p>
            <p class="course-instructor">by <span class="instructor-name">{{instructorName}}</span></p>
            <div class="progress-bar margin-top-16" *ngIf="enroll==true">
                <mat-progress-bar mode="determinate" value='{{progress}}'></mat-progress-bar>
                <span class="progress-text">{{progress}}% of course completed</span>
            </div>
            <a routerLink="/course/{{id}}/{{title}}/0/0"><button class="primary-button btn" *ngIf="enroll==true"> Complete Remaining Course </button></a>
            <a routerLink="/course/{{id}}/{{title}}"><button class="primary-button btn" *ngIf="enroll==false"> Enroll Now </button></a>
        </div>
    </mat-card-content>
</mat-card>