<mat-card class="course-card">
    <mat-card-content class="course-content">
        <div class="img-container">
            <img src="https://media.istockphoto.com/id/1366428092/photo/webinar-e-learning-skills-business-internet-technology-concepts-training-webinar-e-learning.jpg?b=1&s=170667a&w=0&k=20&c=qjK4h0qt4W_NNG8TmboGw8RDRv8TNzEoFM_JEDZ1Ah0=" class="img" alt="">
        </div>
        <div class="card-content">
            <p class="course-title heading-2">{{title}}</p>
            <p class="course-instructor">by <span class="instructor-name">{{instructor}}</span></p>
            <div class="progress-bar margin-top-16" *ngIf="enroll==true">
                <mat-progress-bar mode="determinate" value='40'></mat-progress-bar>
                <span class="progress-text">{{progress}}% of course completed</span>
            </div>
            <button class="primary-button btn" *ngIf="enroll==true"> Complete Remaining Course </button>
            <button class="primary-button btn" *ngIf="enroll==false"> Enroll Now </button>
        </div>
    </mat-card-content>
</mat-card>