
.instructor-name{
    font-weight: 600;
    font-style: italic;
}

.progress-text{
    font-size: 12px;
    font-weight: 600;
}

.card-content{
    width: 100% ;
    position: relative;
}

button{
    display: block;
    margin: 12px auto 0 auto;
}

.img-container .img{
    border-radius: 4px;
}

@media screen and (min-width: 480px) {
    .course-content{
        display: flex;
        gap: 16px;
    }

    .img-container .img{
        width: 250px;
        height: 150px;
    }

    button{
        position: absolute;
        bottom: 15px;
        width:100%;
        left:0;
    }
}