<div class="title heading-1">Profile</div>

<div class="profile-fields-wrapper margin-top-16" *ngIf="userRole > 1">
  <form
    [formGroup]="userProfileForm"
    (ngSubmit)="handleSaveProfile($event)"
    action=""
    id="profile-form"
  >
    <div class="upload-image img-container">
      <img #userProfile alt="" class="img profile-img" [src]="imageSrc" />
      <label for="profile-img">
        <p class="upload-text">Upload Your Image</p>
      </label>
      <input
        #userProfile
        type="file"
        name="profile-img"
        id="profile-img"
        (change)="uploadProfile($event)"
      />
    </div>
    <div class="form-grid">
      <div class="input-field margin-top-10">
        <label for="fname">First Name*</label>
        <input
          type="text"
          name="fname"
          id="fname"
          placeholder="Insert First Name"
          formControlName="firstname"
        />
      </div>
      <div class="input-field margin-top-10">
        <label for="lname">Last Name*</label>
        <input
          type="text"
          name="lname"
          id="lname"
          placeholder="Insert Last Name"
          formControlName="lastname"
        />
      </div>
      <div class="input-field margin-top-10">
        <label for="email">Email*</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Insert Email"
          formControlName="email"
        />
      </div>
      <div class="input-field margin-top-10">
        <label for="phone">Phone*</label>
        <input
          type="phone"
          name="phone"
          id="phone"
          placeholder="Insert Phone Number"
          formControlName="phone"
        />
      </div>
      <div class="input-field margin-top-10">
        <label for="phone">Password*</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="InsertPassword"
          formControlName="password"
        />
      </div>
      <!-- <div class="input-field margin-top-10">
        <label for="organization">Organization*</label>
        <input
          type="text"
          name="organization"
          id="organization"
          placeholder="Your Organization"
          formControlName="organization"
          [readOnly]="true"
        />
      </div> -->
      <!-- <div class="input-field margin-top-10">
                <label for="gender">Gender*</label>
                <div class="radio-field">
                    <input type="radio" name="gender" id="gender" value="male"> <span class="radio-text">Male</span> 
                    <input type="radio" name="gender" id="gender" value="female"> <span class="radio-text">Female</span>
                </div>
            </div> -->
    </div>
    <button type="submit" class="primary-button margin-top-10">
      Save Profile
    </button>
  </form>
</div>

<div class="profile-fields-wrapper margin-top-16" *ngIf="userRole < 2">
  <form
    [formGroup]="orgProfileForm"
    (ngSubmit)="handleSaveProfile($event)"
    action=""
    id="profile-form"
  >
    <div class="upload-image img-container">
      <img alt="" class="img profile-img" [src]="imageSrc" />
      <label for="profile-img">
        <p class="upload-text">Upload Your Image</p>
      </label>
      <input
        #userProfile
        type="file"
        (change)="uploadProfile($event)"
        name="profile-img"
        id="profile-img"
      />
    </div>
    <div class="form-grid">
      <div class="input-field margin-top-10">
        <label for="name">Organization Name*</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Insert Last Name"
          formControlName="name"
        />
      </div>
      <div class="input-field margin-top-10">
        <label for="email">Email*</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Insert Email"
          formControlName="email"
        />
      </div>
      <div class="input-field margin-top-10">
        <label for="phone">Password*</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="InsertPassword"
          formControlName="password"
        />
      </div>
      <div class="input-field margin-top-10">
        <label for="phone">Phone*</label>
        <input
          type="phone"
          name="phone"
          id="phone"
          placeholder="Insert Phone Number"
          formControlName="phone"
        />
      </div>
    </div>
    <button type="submit" class="primary-button margin-top-10">
      Save Profile
    </button>
  </form>
</div>
