<div class="login-form-wrapper">
    <div class="title heading-1">
        Forgot Password
    </div>
    <form action="" class="margin-top-16" [formGroup]="forgotPasswordForm" (submit)="handleSubmit($event)">
        <div class="input-field">
            <label for="email">Email*</label>
            <input type="email" name="email" id="email" placeholder="Insert Email" formControlName="email">
        </div>
        <button type="submit" class="primary-button margin-top-16">Send Email</button>
    </form>
</div>