.login-form-wrapper{
    position: absolute;
    background-color: #d1e8d6;
    border: 1px solid #0c1f14;
    border-radius: 4px;
    padding: 10px 12px;
    width:60%; max-width:500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    text-align: center;
}

.input-field{
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.input-field input, .input-field select{
    border: none;
    outline: none;
    font-family: 'Quicksand';
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    background: none;
    border-bottom: 1px solid #0c1f14;
}