<div class="login-form-wrapper">
    <div class="title heading-1">
        Reset Password
    </div>
    <form action="" class="margin-top-16" [formGroup]="resetPasswordForm" (submit)="handleSubmit($event)">
        <div class="input-field margin-top-16">
            <label for="password">Password*</label>
            <input type="password" name="password" id="password" placeholder="Insert Password" formControlName="password">
        </div>
        <button type="submit" class="primary-button margin-top-16">Reset Password</button>
    </form>
</div>