.fs-24 {
  font-size: 24px;
}
.fc-green {
  color: #006d42;
}
.mt-24 {
  margin-top: 24px;
}
.bg-light-gray {
  background: #eee;
}
.quiz-name-submit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.quiz-container {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.quiz-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.quiz-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
