<div #title class="title heading-1">Add Teacher</div>
<form
  class="course-form margin-top-16"
  [formGroup]="createTeacherForm"
  (submit)="handleSubmitData($event)"
>
  <div class="form-fields-wrapper">
    <div class="input-field margin-top-16">
      <label for="firstname">Firstname*</label>
      <input
        type="text"
        name="firstname"
        id="firstname"
        placeholder="Insert Firstname"
        formControlName="firstName"
      />
    </div>

    <div class="input-field margin-top-16">
      <label for="lastname">Lastname*</label>
      <input
        type="text"
        name="lastname"
        id="lastname"
        placeholder="Insert Lastname"
        formControlName="lastName"
        required
      />
    </div>

    <div class="input-field margin-top-16">
      <label for="email">Email*</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Insert Email"
        formControlName="email"
      />
    </div>

    <div class="input-field margin-top-16">
      <label for="password">Password*</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Insert Password"
        formControlName="password"
      />
    </div>

    <div class="input-field margin-top-16 profile-container">
      <div>
        <label for="profile">Profile Pic*</label>
        <br />
        <input
          (change)="uploadProfile($event)"
          type="file"
          #profile
          name="profile"
          id="profile"
        />
      </div>

      <div *ngIf="updateMode">
        <p class="fs_12 fc_green">
          please note that if you don't want to change your profile it will be
          same as previous
        </p>
      </div>

      <div *ngIf="imageSrc != null">
        <img
          class="profile-preview"
          id="profilePreview"
          [src]="imageSrc"
          alt="your image"
        />
      </div>
    </div>
  </div>
  <button type="submit" #submit class="primary-button margin-top-16">
    Add Teacher
  </button>
</form>
