<div class="item-card-wrapper">
    <a routerLink="/admin/manage-organization" *ngIf="loggedInUserRole==0">
    <div class="item-card">
        <mat-icon class="icon">account_balance</mat-icon>
        <div class="card-text">
            <p>Organizations</p>
            <p>2</p>
        </div>
    </div></a>
    <a routerLink="/admin/manage-teacher" *ngIf="loggedInUserRole==0 || loggedInUserRole==1">
    <div class="item-card">
        <mat-icon class="icon">person</mat-icon>
        <div class="card-text">
            <p>Teachers</p>
            <p>2</p>
        </div>
    </div></a>
    <a routerLink="/admin/manage-student" *ngIf="loggedInUserRole==0 || loggedInUserRole==1">
    <div class="item-card">
        <mat-icon class="icon">wc</mat-icon>
        <div class="card-text">
            <p>Students</p>
            <p>2</p>
        </div>
    </div></a>
    <a routerLink="/admin/manage-course" *ngIf="loggedInUserRole!=3">
    <div class="item-card">
        <mat-icon class="icon">ondemand_video</mat-icon>
        <div class="card-text">
            <p>Courses</p>
            <p>2</p>
        </div>
    </div></a>
</div>
