<div class="container">
  <div class="card m-5 p-3">
      <div class="card-body">
          <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
              <thead>
              <tr>
                  <th>Index</th>
                  <th>Course Title</th>
                  <th>Course Instructor</th>
                  <th>Enrolled Students</th>
                  <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let course of courses$">
                  <td></td>
                  <td>{{ course.title }}</td>
                  <td>Prachi Shah</td>
                  <td>212</td>
                  <td>Operation Button</td>
              </tr>
              </tbody>
          </table>
      </div>

  </div>
</div>
