<div class="title heading-2 margin-top-16">
    Meet Your Instructor
</div>

<div class="instructor-card margin-top-10">
    <div class="img-container">
        <img src="https://lmszai.zainikthemes.com/uploads_demo/user/4.jpg" alt="" class="img">
    </div>
    <div class="about-instructor">
        <div class="heading-2">
            About Instructor
        </div>
        <p class="instructor-description">
            Freelancers and entrepreneurs Freelancers and entrepreneurs use about.me to grow their audience and get more clients. · Create a page to present who you are and what you do in one link.use about.me to grow their audience and get more clients. · Create a page to present who you are and what you do in one link.
        </p>
    </div>
</div>

