<div class="quiz-container">
  <form action="" [formGroup]="quizForm" (submit)="saveQuiz($event)">
    <div class="quiz-name input-field w-200 ml-auto">
      <p class="fs-16 ml-auto">Enter Quiz Name*</p>
      <input type="text" name="" id="" formControlName="quizName" />
    </div>
    <div class="question-container mt-24">
      <fieldset>
        <legend>Question</legend>
        <div class="question-text mt-24">
          <p for="question-text">Question Text</p>
          <br />
          <textarea
            id="question-text"
            name="question-text"
            formControlName="questionText"
            rows="1"
            cols="80"
            (resize)="(false)"
          ></textarea>
        </div>

        <label for="option" class="mt-24">Options*</label>
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-chip-grid #chipGrid aria-label="Enter option">
            <mat-chip-row
              *ngFor="let option of options"
              (removed)="remove(option)"
              [editable]="true"
              (edited)="edit(option, $event)"
              [aria-description]="'press enter to edit ' + option.text"
            >
              {{ option.text }}
              <button matChipRemove [attr.aria-label]="'remove ' + option.text">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input
              placeholder="New option"
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-grid>
        </mat-form-field>

        <label for="correct-option" class="mt-24">Correct Options*</label>
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-chip-grid #chipGridCorrect aria-label="Enter Correct options">
            <mat-chip-row
              *ngFor="let option of correctOptions"
              (removed)="removeCorrectOpt(option)"
              [editable]="true"
              (edited)="editCorrectOpt(option, $event)"
              [aria-description]="'press enter to edit ' + option.text"
            >
              {{ option.text }}
              <button matChipRemove [attr.aria-label]="'remove ' + option.text">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input
              placeholder="New Correct option"
              [matChipInputFor]="chipGridCorrect"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addCorrectOpt($event)"
            />
          </mat-chip-grid>
        </mat-form-field>

        <div class="save-question-btn">
          <button
            class="primary-button"
            type="submit"
            (click)="saveQuestion($event)"
          >
            Save Question
          </button>
        </div>
      </fieldset>
    </div>

    <div class="d-flex-row-center-center mt-24">
      <button class="primary-button" type="submit">Save Quiz</button>
    </div>
  </form>
</div>
