
<div *ngIf="id==''">

        <div class="title heading-1">Add Quiz</div>
        <form class="course-form margin-top-16" [formGroup]="quizForm" (submit)="saveQuiz($event)">
            <div class="form-fields-wrapper">
                <div class="input-field" *ngIf="loggedInUserRole==0">
                    <label for="organization">Organization*</label>
                    <select name="organization" id="organization" formControlName="organization" (change)="handleChangeOrganization($event)">
                        <option [ngValue]="organization._id" *ngFor="let organization of organizations">{{ organization.name }}</option>
                    </select>
                </div>
                <div class="input-field">
                    <label for="course">Course*</label>
                    <select name="course" id="course" formControlName="course" (change)="handleChangeCourse($event)">
                        <option [ngValue]="course._id" *ngFor="let course of courses">{{ course.title }}</option>
                    </select>
                </div>
                <div class="input-field">
                    <label for="section">Section*</label>
                    <select name="section" id="section" formControlName="section">
                        <option [ngValue]="i" *ngFor="let section of sections; let i=index">{{section.title}}</option>
                    </select>
                </div>
                <div class="input-field">
                    <label for="title">Quiz Title*</label>
                    <input type="text" name="title" id="title" formControlName="title">
                </div>
                <div class="input-field">
                    <label for="type">Type*</label>
                    <div class="radio-field">
                        <input type="radio" formControlName="type" id="quiz-type" value="mcqs"> <span class="radio-text">MCQs</span> 
                        <input type="radio" formControlName="type" id="quiz-type" value="descriptive"> <span class="radio-text">Discriptive</span>
                    </div>
                </div>
            </div>
            <button type="submit" class="primary-button margin-top-16" *ngIf="id==''">Save Quiz</button>
        </form>
    
</div>

<div *ngIf="id">
    
        <div class="title heading-1">Edit Quiz</div>
        <form class="course-form margin-top-16" [formGroup]="quizForm" (submit)="updateQuiz($event)">
            <div class="form-fields-wrapper">
                <div class="input-field" *ngIf="loggedInUserRole==0">
                    <label for="organization">Organization*</label>
                    <select name="organization" id="organization" formControlName="organization" (change)="handleChangeOrganization($event)">
                        <option [ngValue]="organization._id" *ngFor="let organization of organizations">{{ organization.name }}</option>
                    </select>
                </div>
                <div class="input-field">
                    <label for="course">Course*</label>
                    <select name="course" id="course" formControlName="course" (change)="handleChangeCourse($event)">
                        <option [ngValue]="course._id" *ngFor="let course of courses">{{ course.title }}</option>
                    </select>
                </div>
                <div class="input-field">
                    <label for="section">Section*</label>
                    <select name="section" id="section" formControlName="section">
                        <option [ngValue]="i" *ngFor="let section of sections; let i=index">{{section.title}}</option>
                    </select>
                </div>
                <div class="input-field">
                    <label for="title">Quiz Title*</label>
                    <input type="text" name="title" id="title" formControlName="title">
                </div>
                <div class="input-field">
                    <label for="type">Type*</label>
                    <div class="radio-field">
                        <input type="radio" formControlName="type" id="quiz-type" value="mcqs"> <span class="radio-text">MCQs</span> 
                        <input type="radio" formControlName="type" id="quiz-type" value="descriptive"> <span class="radio-text">Discriptive</span>
                    </div>
                </div>
            </div>
            <button type="submit" class="primary-button margin-top-16" *ngIf="id">Edit Quiz</button>
        </form>
    
</div>

    