.form-fields-wrapper{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

.input-field{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 600;
}

.input-field input, .input-field select{
    border: none;
    outline: none;
    border-bottom: 1px solid #0c1f14;
    font-family: 'Quicksand';
    font-size: 16px;
    background: none;
}

.input-field input[type="file"]{
    border: none;
}

.radio-field{
    display:  flex;
    align-items: center;
    font-family: 'Quicksand';
    font-size: 16px;
}

.radio-field input[type="radio"]{
    border: 1px solid #0c1f14;
    height: 16px;
    width: 16px;
    margin: 0;
    margin-left: 8px;
    margin-right: 8px;
}

.radio-field .radio-text{
    margin-right: 6px;
}

.section-input-field input{
    width: 80%;
}
