<div class="title heading-1">Add Course</div>
<form class="course-form margin-top-16" [formGroup]="courseForm" (submit)="saveCourse($event)">
    <div class="form-fields-wrapper">
        <div class="input-field">
            <label for="title">Course Title*</label>
            <input type="text" name="title" id="title" formControlName="title">
        </div>
        <div class="input-field">
            <label for="overview">Course Overview*</label>
            <textarea id="overview" name="overview" formControlName="overview"></textarea>
        </div>
        <div class="input-field">
            <label for="thumbnail">Course Thumbnail*</label>
            <input type="file" #thumbnail name="thumbnail" id="thumbnail">
        </div>
        <div class="input-field">
            <label for="section">Section*</label>
            <input type="text" name="section" id="section" placeholder="Insert Section by Comma" formControlName="sections">
        </div>
    </div>
    <button type="submit" class="primary-button margin-top-16">Upload Lessons</button>
    <button type="submit" class="primary-button margin-top-16">Save Course as Draft</button>
</form>


