.question, .answer-label{
    font-weight: 600;
    font-size: 18px;
}
.question{
    display: flex;
    justify-content: space-between;
}
.marks-assign{
    display: flex;
    justify-content: end;
}



.input-field{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 600;
}

input[type="number"]{
    float: right;
}

.input-field input, .input-field select, textarea{
    border: none;
    outline: none;
    border-bottom: 1px solid #0c1f14;
    font-family: 'Quicksand';
    font-size: 16px;
    background: none;
}

.input-field input[type="file"]{
    border: none;
}

.input-field label{
    font-weight: 600;
    font-size: 18px;
}

.radio-field{
    display:  flex;
    align-items: center;
    font-family: 'Quicksand';
    font-size: 16px;
}

.radio-field input[type="radio"]{
    border: 1px solid #0c1f14;
    height: 16px;
    width: 16px;
    margin: 0;
    margin-left: 8px;
    margin-right: 8px;
}

.radio-field .radio-text{
    margin-right: 6px;
}