<div class="lecture-content-wrapper">
    <video controls width="250" class="video-player" *ngIf="type=='video'" (ended)="updateProgress()">
        <source *ngIf="source" [src]="source | safe" type="video/mp4">
    </video>
    <object
        [data]="source | safe"
        type="application/pdf"
        width="100%"
        height="100%" *ngIf="type=='document'">
        <p>Your browser does not support PDFs.
            <a [href]="source | safe">Download the PDF</a>
        </p>
    </object>

    <form *ngIf="type=='quiz' && quizForm && attendedQuiz==false" [formGroup]="quizForm" (submit)="handleQuiz($event)">
        <div class="input-field" *ngFor="let question of questions; let i=index">
            <label for="{{i}}">{{i+1}}. {{question.question}}</label>
            <div class="radio-field" *ngFor="let option of question.options; let j=index">
                <input type="radio" formControlName="{{i}}" [value]="j"> <span class="radio-text">{{option.option_text}}</span> 
            </div>
        </div>
        <button type="submit" class="primary-button margin-top-10">Submit</button>
    </form>

    <div class="quiz-wrapper" *ngIf="attendedQuiz==true">
        <div class="question-item margin-top-16" *ngFor="let question of questions;let i=index;">
            <p class="question">{{i+1}}. {{question.question}}</p>
            <div class="option-wrapper">
                <p class="option" *ngFor="let option of question.options">{{option.option_text}}</p>
            </div>
            <p class="answer-label">Correct Answer:</p>
            <p class="answer">{{question.options[question.correct_option].option_text}}</p>
            <p class="answer-label">Your Answer:</p>
            <p class="answer">{{question.options[selected_options[i]].option_text}}</p>
        </div>
    </div>
</div>
