<div class="course-description-wrapper">
    <div class="course-description-card">
        <div class="img-container">
        <img src="{{src}}" class="img" alt="">
        </div>
        <div class="course-content">
            <div class="course-title heading-1">{{title}}</div>
            <div class="course-enrolled-student margin-top-10"><mat-icon class="icon">people</mat-icon> {{enrolled}}</div>
            <button class="primary-button margin-top-10" (click)="handleEnroll()">Enroll Now</button>
<!-- <a routerLink="/course/{{id}}/{{title}}/0/0"></a> -->
        </div>
    </div>
    
    <div class="course-description-detail">
        <mat-tab-group>
            <mat-tab label="Overview" > 
                <app-course-overview [overview]="overview"></app-course-overview>
            </mat-tab>
            <mat-tab label="Curriculum">
                <app-course-curriculum [curriculum]="curriculum" [enroll]="false"></app-course-curriculum>
            </mat-tab>
            <mat-tab label="instructor"> 
                <app-course-instructor [instructor]="instructor"></app-course-instructor>
            </mat-tab>
        </mat-tab-group>      
    </div>
</div>
