<div class="welcome-text heading-1">
    Welcome back, Jay
</div>

<div class="dashboard-component-wrapper margin-top-16">
    <!-- Enrolled Courses -->
    <div class="enrolled-courses">
        <div class="heading-2">
            Enrolled Courses
        </div>
        <app-course-carousel></app-course-carousel>
    </div>

    <!-- Notice Board -->
    <div class="notice-board">
        <div class="heading-2">
            Notice Board
        </div>
        <app-notices></app-notices>
    </div>
</div>
